@charset "UTF-8";
.allmenus__details {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.allmenus__details--0 {
  animation-delay: 0ms;
}
.allmenus__details--1 {
  animation-delay: 375ms;
}
.allmenus__details--2 {
  animation-delay: 750ms;
}
.allmenus__details--3 {
  animation-delay: 1125ms;
}
.allmenus__details--4 {
  animation-delay: 1500ms;
}
.allmenus__details--5 {
  animation-delay: 1875ms;
}
.allmenus__details--6 {
  animation-delay: 2250ms;
}
.allmenus__details--7 {
  animation-delay: 2625ms;
}
.allmenus__details--8 {
  animation-delay: 3000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*** animation loader**/
/**variable loads**/
/***/
.container {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fadeout 3s 3s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.load {
  width: 18vh;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  background-color: #9356dc;
  height: 100%;
  width: 2vh;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--1-inv {
  animation-delay: 200ms;
  animation-direction: alternate-reverse;
  background-color: #ff79da;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--2-inv {
  animation-delay: 400ms;
  animation-direction: alternate-reverse;
  background-color: #ff79da;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--3-inv {
  animation-delay: 600ms;
  animation-direction: alternate-reverse;
  background-color: #ff79da;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--4-inv {
  animation-delay: 800ms;
  animation-direction: alternate-reverse;
  background-color: #ff79da;
}
.load__bar--5 {
  animation-delay: 1000ms;
}
.load__bar--5-inv {
  animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  background-color: #ff79da;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.icon i {
  position: absolute;
  font-size: 22px;
  top: 50px;
}

.my-heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.75s;
}

.my-heart-full:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

/***Icône coeur de l'index***/
.icon__index {
  /*uniquement pour le positionner*/
  position: absolute;
  right: 74px;
  bottom: -133px;
  font-size: 22px;
  cursor: pointer;
}

* {
  font-family: "roboto", sans-serif;
}

.menu-title {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 28px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
}

h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}

p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fa-handshake-angle {
  padding: 2px;
}

.fa-utensils {
  padding: 5px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navmenu {
  display: flex;
  justify-content: center; /* Centre horizontalement */
}
.navmenu__logo {
  padding: 15px;
  height: 36px;
}

.location {
  background-color: #eaeaea;
  text-align: center;
  padding: 15px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.location input {
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: #eaeaea;
  outline: none;
  text-align: center;
}
.location ::placeholder {
  text-align: center;
}

.hero {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1px 0px 45px 0px;
}
.hero__para {
  font-size: 18px;
  font-weight: 300;
}

/***FONCTIONNEMENT**/
.fonction {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #ffffff;
}
.fonction__content {
  display: flex;
  align-items: center;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px;
  background-color: #f6f6f6;
  transition: background-color 0.3s ease-in-out;
}
.fonction__number {
  border-radius: 20px;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  display: flex;
  background-color: #9356dc;
  color: white;
  justify-content: center;
  margin-left: -20px;
}
.fonction__icon {
  color: #7e7e7e;
  font-size: 20px;
  padding: 15px;
}
.fonction__par {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fonction__content:hover {
  cursor: pointer;
  background-color: #e2bfed;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
.fonction__content:hover i {
  color: #9356dc;
}

/**SECTION RESTAUS**/
.restaurants {
  padding: 20px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 15px;
}
.restaurants__cards img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__content {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  height: 16rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.restaurants__int {
  padding: 10px;
  color: black;
  font-size: 17px;
  font-weight: 300;
}

.restaurants__content {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  height: 16rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.restaurants__content:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.7);
}

.restaurants__content .pancarte {
  color: #278870;
  background-color: #99e2d0;
  text-align: center;
  width: 68px;
  padding: 5px;
  position: absolute;
  top: 4%;
  right: 4%;
  margin: 0px;
  border-radius: 2px;
}

.restaurants__content .icon i {
  position: absolute;
  position: absolute;
  right: 23px;
  top: 197px;
}

.navlogo {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: center;
}
.navlogo img {
  width: 197px;
  height: 36px;
}
.navlogo a i {
  left: 50px;
  position: absolute;
}

main {
  background: whitesmoke;
}
main img {
  object-fit: cover;
  width: 100%;
  height: 21rem;
}

body {
  padding: 0px;
  margin: 0px;
}

.underline {
  position: relative;
  padding-bottom: 5px;
}

.underline::after {
  content: "";
  width: 2rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.allmenus__position {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  gap: 5px;
  margin: 5px 0;
  overflow: hidden;
  cursor: pointer;
}

.allmenus {
  border-radius: 3rem 3rem 0 0;
  position: sticky;
  padding: 1rem;
  margin-top: -4rem;
  background: whitesmoke;
}
.allmenus__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.8rem;
}

.allmenus__valid {
  background-color: #99e2d0;
  margin: -1rem -8rem -1rem 1rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  border-radius: 0px 15px 15px 0px;
}

.allmenus__details :hover .allmenus__valid {
  margin-right: -1rem;
}

.allmenus__icon {
  background-color: #ffffff;
  border-radius: 100px;
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-size: 15.04px;
}

.allmenus__content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 300;
  font-size: 15.04px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #353535;
}
footer .footer__title {
  font-size: 18px;
  font-family: Shrikhand, sans-serif;
  color: #f6f6f6;
  margin: 0px;
}

ul {
  padding: 0px;
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

li {
  color: white;
  list-style: none;
}

@media (min-width: 1024px) {
  /**index**/
  .fonction {
    gap: 0px;
    padding: 35px 149px;
  }
  .fonction__par {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
  }
  .fonction__content {
    width: 100%;
  }
  .fonction__content p {
    display: flex;
  }
  .restaurants {
    padding: 35px 149px;
    background-color: #f6f6f6;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .restaurants__cards__content {
    height: 15rem;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    align-items: center;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    list-style: none;
  }
  /** Pages menus**/
  main {
    background-color: white;
  }
  .allmenus {
    margin: auto;
    max-width: 1024px;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    position: sticky;
    padding: 9rem;
    margin-top: -5rem;
  }
  .menu-title {
    display: flex;
    justify-content: center;
    margin-top: -5rem;
    padding-bottom: 40px;
  }
  .icon i {
    position: absolute;
    font-size: 22px;
    top: 77px;
  }
}
.btn {
  color: white;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(#ff79da, #9356dc);
  position: relative;
  z-index: 1;
  padding: 17px 33px 17px 33px;
  font-size: 16px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #ae80e5 0%, #ff60d3 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.button {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
