.allmenus__details {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delai0 {
  animation-delay: 0.25s;
}
.delai1 {
  animation-delay: 0.5s;
}
.delai2 {
  animation-delay: 0.75s;
}
.delai3 {
  animation-delay: 1s;
}
.delai4 {
  animation-delay: 1.25s;
}
.delai5 {
  animation-delay: 1.5s;
}
.delai6 {
  animation-delay: 1.75s;
}
.delai7 {
  animation-delay: 2s;
}
.delai8 {
  animation-delay: 2.25s;
}
/*** animation loader**/

/**variable loads**/
$cd-bars: #15dea5;
$size: 3vh;
$animdur: 1000ms;
$num-bars: 5;
$anim-delay: $animdur / $num-bars;
$cd-bars-inv: #0e397f;
/***/

.load {
  width: $size * 10;
  height: $size * 7.5;
  display: flex;
  justify-content: space-evenly;
  &__bar {
    background-color: $primary;
    height: 100%;
    width: $size;
    animation: bars $animdur backwards infinite ease-in-out alternate;

    @for $i from 1 through $num-bars {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
      &--#{$i}-inv {
        animation-delay: $anim-delay * $i;
        animation-direction: alternate-reverse;
        background-color: #ff79da;
      }
    }
  }
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
