$num-cards: 8;
.allmenus__details {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  @for $i from 0 through $num-cards {
    &--#{$i} {
      animation-delay: 3000ms / 8 * $i;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*** animation loader**/

/**variable loads**/
$cd-bars: #15dea5;
$size: 2vh;
$animdur: 1000ms;
$num-bars: 5;
$anim-delay: $animdur / $num-bars;
$cd-bars-inv: #0e397f;
/***/
.container {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fadeout 3s 3s forwards;
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.load {
  width: $size * 9;
  height: $size * 7;
  display: flex;
  justify-content: space-evenly;
  &__bar {
    background-color: $primary;
    height: 100%;
    width: $size;
    animation: bars $animdur backwards infinite ease-in-out alternate;

    @for $i from 1 through $num-bars {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
      &--#{$i}-inv {
        animation-delay: $anim-delay * $i;
        animation-direction: alternate-reverse;
        background-color: #ff79da;
      }
    }
  }
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
//** Icône coeur menu et animation**//
.icon i {
  position: absolute;
  font-size: 22px;
  top: 50px;
}
.my-heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.75s;
}
.my-heart-full:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient($primary, #ff79da);
  -webkit-background-clip: text;
}
.icon {
  display: flex;
  justify-content: flex-end;
}
/***Icône coeur de l'index***/

.icon__index {
  /*uniquement pour le positionner*/
  position: absolute;
  right: 74px;
  bottom: -133px;
  font-size: 22px;
  cursor: pointer;
}
