* {
  font-family: "roboto";
}

h1 {
  font-family: "shrikhand";
}
body {
  margin: 0;
  padding: 0;
}
.navlogo {
  display: flex;
  height: 63px;
  align-items: center;
}
.navlogo img {
  width: 197px;
  height: 36px;
  margin: auto;
}
main img {
  object-fit: cover;
  width: 100%;
}

i {
  padding: 20px;
}
.menucomplet {
  background: whitesmoke;
  border-radius: 3rem 3rem 0 0;
  position: sticky;
  padding: 1rem;
  margin-top: -3rem;
}
