@media (min-width: 1024px) {
  /**index**/

  .fonction {
    gap: 0px;
    padding: 35px 149px;
  }
  .fonction__par {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
  }
  .fonction__content {
    width: 100%;
  }

  .fonction__content p {
    display: flex;
  }
  .restaurants {
    padding: 35px 149px;
    background-color: $blanc-casse;
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      &__content {
        height: 15rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      gap: 28px;
      align-items: center;
      list-style: none;
    }
  }

  /** Pages menus**/

  main {
    background-color: white;
  }
  .allmenus {
    margin: auto;
    max-width: 1024px;
    background-color: $blanc-casse;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    width: 60%;
    position: sticky;
    padding: 9rem;
    margin-top: -5rem;
  }

  .menu-title {
    display: flex;
    justify-content: center;
    margin-top: -5rem;
    padding-bottom: 40px;
  }

  .icon i {
    position: absolute;
    font-size: 22px;
    top: 77px;
  }
}
