@media (min-width: 1024px) {
  /**home**/

  .fonction {
    gap: 0px;
    padding: 35px 149px;
  }
  .fonction__par {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
  }
  .fonction__content {
    width: 100%;
  }

  .fonction__content p {
    display: flex;
  }
  .restaurants {
    padding: 35px 149px;
    background-color: $blanc-casse;
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6.25rem;
      &__content {
        height: 15rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      gap: 28px;
      align-items: center;
      list-style: none;
    }
  }

  .menuglob {
    margin: auto;
    max-width: 1024px;
  }

  .buttondispo {
    background-color: $blanc-casse;
  }
}
