.navlogo {
  display: flex;
  height: 63px;
  align-items: center;

  img {
    width: 197px;
    height: 36px;
    margin-left: 65px;
  }
}
main {
  background: whitesmoke;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.fa-sharp {
  padding: 20px;
}
