.navlogo {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: center;

  img {
    width: 197px;
    height: 36px;
  }
  a i {
    left: 50px;
    position: absolute;
  }
}
main {
  background: whitesmoke;

  img {
    object-fit: cover;
    width: 100%;
    height: 21rem;
  }
}
body {
  padding: 0px;
  margin: 0px;
}
