.navmenu {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  &__logo {
    padding: 15px;
    height: 36px;
  }
}

.location {
  background-color: $input;
  text-align: center;
  padding: 15px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  & input {
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: $input;
  }
  & ::placeholder {
    text-align: center;
  }
}
.hero {
  text-align: center;
  background-color: $blanc-casse;
  padding: 1px 0px 45px 0px;
}

/***FONCTIONNEMENT**/
.fonction {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: $white;

  &__content {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px;
    background-color: $blanc-casse;
  }
  &__number {
    border-radius: 20px;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    display: flex;
    background-color: $primary;
    color: white;
    justify-content: center;
    margin-left: -20px;
  }

  &__icon {
    color: $greyicon;
    font-size: 20px;
    padding: 15px;
  }
  &__par {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.fonction__content a:hover {
  cursor: pointer;
  background-color: $primary;
}
/**SECTION RESTAUS**/
.restaurants {
  padding: 20px;
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px;
  }

  &__cards img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
  }
}

.restaurants__cards__content {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  height: 16rem;
  box-shadow: (0px 3px 15px rgba(0, 0, 0, 0.1));
  &__int {
    padding: 10px;
    text-decoration: none;
  }
}
.restaurants__cards__content__int a {
  color: black;
}
.nouveau {
  background-color: #99e2d0;
  color: #008766;
  padding: 5px;
  position: absolute;
  right: 182px;
  bottom: 208px;
}
