.allmenus__position {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  gap: 5px;
  margin: 5px 0;
  overflow: hidden;
  cursor: pointer;
}
.allmenus {
  border-radius: 3rem 3rem 0 0;
  position: sticky;
  padding: 1rem;
  margin-top: -2rem;
  background: whitesmoke;

  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.8rem;
  }
}
.allmenus__valid {
  background-color: #99e2d0;
  margin: -1rem -8rem -1rem 1rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  border-radius: 0px 15px 15px 0px;
}
.allmenus__details :hover .allmenus__valid {
  margin-right: -1rem;
}

.allmenus__icon {
  background-color: #ffffff;
  border-radius: 100px;
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.allmenus__content {
  width: 100%;
}
