.card {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  gap: 5px;
}
.menucomplet {
  border-radius: 3rem 3rem 0 0;
  position: sticky;
  padding: 1rem;
  margin-top: -3rem;
  background: whitesmoke;

  &__epd {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 2.8rem;
  }
}

.money {
  font-weight: 700;
  display: flex;
  justify-content: space-between;

  .bold {
    font-weight: 700;
  }
}
